.footer {
  color: $text-muted;
  font-size: 0.58em;
  line-height: .90em;
  padding: 2em 1.5em;
  width: inherit;
  text-align: right;
  display: inline-block;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 0;

    a {
      color: $link-muted;

      &:hover {
        text-decoration: underline;
      }
    }

    .copyright {
      margin-top: 1em;

      @media (min-width: $bp-md) {
        margin-top: 0;
      }
    }
  }
