// Define color variables
// Define button mixin

$colors : (
'background': $background,
'secondary': $secondary,
'foreground': $foreground,
'heading' : $heading,
'primary': $primary,
'link': $link,
'lnked-darkened': $link,
'link-muted': $link-muted,
'text': $text,
'text-muted': $text-muted );
// Create the color classes using the button mixin
.btn {
  @each $color, $value in $colors {
    &-#{$color} {
      @include button($value, #ffffff, 'regular');
    }
  }
}

// Create the big and small classes using the button mixin
.btn {
  &-big {
    @include button($primary, #fff, 'big');
  }
  &-small {
    @include button($secondary, #fff, 'small');
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 3em 1.5em;
  justify-content: center;


  .container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
  }
}
