.modal { width: 100%; height: 100%; display: none; background: rgba(0,0,0,.5); z-index: 4000; }
.modal-dialog {
    border-radius: 24px;
    margin: 5%;height:calc(100% - 10%); width: calc(100% - 10%); 
    background: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (orientation: portrait) {
        flex-direction: column;
    }

    .container {
        width: 80%;
        height: auto;
        text-align: center;
    }

    .logo {
        width: 35%;
    }
}

.message {
    display: none;
}

.message.show {
    display: inline-block;
}