<div class="modal">
    <div class="modal-dialog">
        <img id="logo" class="logo" src="./assets/logo.png" title="Big Head Charles"/>
        <div class="container"> 
            <div id="preloader-message" class="show message">
                <h3>Loading!</h3>
                <p>Please wait!</p>
                <div id="preloader" class="progress-container">
                    <progress value="75" max="100">75%</progress>
                  </div>
            </div>
            <div id="start-message" class="message">
                    <h3>Tag! You're It!</h3>
                    <p>Charles is dodging you from tagging him! Tag Charles before he tries to hide!</p>
                    <a href="javascript:toggleMsg('profile')" class="btn btn-link">Profile</a>
                    <a href="javascript:tinyModal.hide()" class="btn btn-primary modal-hide">Let's Play!</a>
                </div>
                <div id="scores-message" class="message">
                    <div id="leaderboard"></div>
                    <a href="javascript:toggleMsg('start')" class="btn btn-secondary">Back</a>
                </div> 
                <div id="paused-message" class="message">
                    <h3>Hey!</h3>
                    <p>Let's play some more tag!</p>
                    <a href="javascript:tinyModal.hide()" class="btn btn-secondary modal-hide">Continue!</a>
                </div> 
                <div id="finished-message" class="message">
                    <h3>Yay!</h3>
                    <p>Thanks for playing with me! You got <strong id="total" class="points">0</strong> points! Can we play again?</p>
                    <a href="javascript:tinyModal.hide()" class="btn btn-secondary modal-hide">Let's Go!</a>
                </div>
                <div id="profile-message" class="message">
                    <div class=""></div>
                    <a href="javascript:toggleMsg('start')" class="btn btn-secondary">Back</a>
                </div>
            </div>
    </div>
</div>