<div class="game-container">
    <div class="charles top-center">
      <div id="charles-top" class="bighead down">
      </div>  <div class="bush"></div>
      
    </div>
    <div id="charles-left" class="charles left-center">
      <div class="bighead down">
    </div>    <div class="bush"></div>
    </div>
    <div id="charles-right" class="charles right-center horizontal-reflect">
      <div class="bighead down">
      </div>
      <div class="bush"></div>
    </div>
    <div id="charles-bottom" class="charles bottom-center">
      <div class="bighead down">
      </div>
      <div class="bush"></div>
    </div> 
</div>
  