<div class="game-container">
    <div class="charles top-center">
      <div class="bighead">
      </div>  <div class="bush"></div>
      
    </div>
    <div class="charles left-center">
      <div class="bighead down up">
    </div>    <div class="bush"></div>
    </div>
    <div class="charles right-center horizontal-reflect">
      <div class="bighead">
      </div>
      <div class="bush"></div>
    </div>
    <div class="charles bottom-center">
      <div class="bighead down up">
      </div>
      <div class="bush"></div>
    </div> 
</div>
  